# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.hsm-wise2021-prototype102-castle-notmine-Maiknoebauer.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Maik Nöbauer\Documents\Uni Mainz\Game Design\hsm-wise2021-prototype102-castle-notmine-Maiknoebauer\.idea\.idea.hsm-wise2021-prototype102-castle-notmine-Maiknoebauer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
